<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ihy.ihearyou" >

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ConversationActivity"
            android:label="Conversation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.LessonActivity"
            android:label="Lesson"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.ReminderActivity"
            android:label="Reminder"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.RecordActivity"
            android:label="Record"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.CollaborationActivity"
            android:label="Collaboration"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.BatteryActivity"
            android:label="Battery"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.LessonIntroductionActivity"
            android:label="Lesson"
            android:parentActivityName=".activity.LessonActivity" />
        <activity
            android:name=".activity.LessonContentActivity"
            android:label="Lesson"
            android:parentActivityName=".activity.LessonIntroductionActivity" />
        <activity
            android:name=".reminder.AddAlarmActivity"
            android:label="@string/title_activity_add_alarm" >
        </activity>
        <activity
            android:name=".reminder.AddCheckActivity"
            android:label="@string/title_activity_add_check" >
        </activity>
        <activity
            android:name=".reminder.AddTicketActivity"
            android:label="@string/title_activity_add_check" >
        </activity>
    </application>

</manifest>
