<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ihy.ihearyou" >

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ConversationActivity"
            android:parentActivityName=".MainActivity"
            android:label="Conversation"/>
        <activity android:name=".activity.LessonActivity"
            android:parentActivityName=".MainActivity"
            android:label="Lesson"/>
        <activity android:name=".activity.ReminderActivity"
            android:parentActivityName=".MainActivity"
            android:label="Reminder"/>
        <activity android:name=".activity.RecordActivity"
            android:parentActivityName=".MainActivity"
            android:label="Record"/>
        <activity android:name=".activity.CollaborationActivity"
            android:parentActivityName=".MainActivity"
            android:label="Collaboration"/>
        <activity android:name=".activity.BatteryActivity"
            android:parentActivityName=".MainActivity"
            android:label="Battery"/>
        <activity android:name=".activity.LessonIntroductionActivity"
            android:parentActivityName=".activity.LessonActivity"
            android:label="Lesson"/>
        <activity android:name=".activity.LessonContentActivity"
            android:parentActivityName=".activity.LessonIntroductionActivity"
            android:label="Lesson"/>

        <receiver android:name=".component.BatteryBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
