<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ihy.ihearyou" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.EntryActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="耳目譯新" >
        </activity>

        <activity
            android:name=".activity.ConversationActivity"
            android:label="溝通"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.LessonActivity"
            android:label="學習"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.ReminderActivity"
            android:label="提醒"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.RecordActivity"
            android:label="紀錄"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.CollaborationActivity"
            android:label="裝置校正"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.BatteryActivity"
            android:label="裝置電量"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".reminder.AddAlarmActivity"
            android:label="@string/title_activity_add_alarm" >
        </activity>
        <activity
            android:name=".reminder.AddCheckActivity"
            android:label="@string/title_activity_add_check" >
        </activity>
        <activity
            android:name=".reminder.AddTicketActivity"
            android:label="@string/title_activity_add_check" >
        </activity>
        <activity
            android:name=".activity.VoiceRecognizerActivity"
            android:label="@string/title_activity_voice_recognizer" >
        </activity>

        <receiver android:name=".component.BatteryBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
    </application>
    <!-- for speech recognizer!-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- for camera recording!-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

</manifest>
